<h1>trypost</h1>

<form action="/signin" method="post">
    <input type="text" name="" id="input">
    <button id="get">get</button>
    <button id="post">post</button>
</form>
<script>
    
/*     const getBtn = document.getElementById('get')
    const postBtn = document.getElementById('post')
    const input = document.getElementById('input')

    getBtn.addEventListener('click', getInfo)
    const baseUrl = 'http://localhost:3000/trypost/'
    async function getInfo(e){ //a signle req from frontend to backend
            e.preventDefault()
            const res = await fetch(baseUrl,
            {
                method: 'GET'
            })
            console.log(res)
    }
    async function postInfo(){ //a signle req from frontend to backend

    } */
    
</script>